# **String Based Assignment Problem**

**1. Write a program to reverse a string.**

In [ ]:
s1 = "I am Logesh. I am going to become a Data Scientist."

# Reverse a string

s1[::-1]

'.tsitneicS ataD a emoceb ot gniog ma I .hsegoL ma I'

**2. Check if a string is a palindrome.**

In [ ]:
s2 = 'radar'

# reverse the string
rev_s2 = s2[::-1]

# check if s2 and rev_s2 is same/not
if s2 == rev_s2:
    print(f'{s2} is a palindrome')
else:
    print(f'{s2} is not a palindrome')

radar is a palindrome

**3. Convert a string to uppercase.**

In [ ]:
s2.upper()

'RADAR'

**4. Convert a string to lowercase.**

In [ ]:
s2.lower()

'radar'

**5. Count the number of vowels in a string.**

In [ ]:
count = 0

for letter in s2:
  if letter in 'aeiou':
    count+=1
print(count)

2

**6. Count the number of consonants in a string.**

In [ ]:
count = 0

for letter in s2:
  if letter in 'aeiou':
    count+=1
print(len(s2)-count)

3

**7. Remove all whitespaces from a string.**

In [ ]:
s4 = "I am Logesh. I am going to become a Data Scientist."

s4.replace(' ','')

'IamLogesh.IamgoingtobecomeaDataScientist.'

**8. Find the length of a string without using the `len()` function.**

In [ ]:
length = 0

for letter in s4:
  length +=1
print(length)

51

**9. Check if a string contains a specific word.**

In [ ]:
if s4.find('Logesh') > 0 :
  print('Found')
else:
  print('Not Found')

Found

**10. Replace a word in a string with another word.**

In [ ]:
s4.replace('Logesh','Logesh M')

'I am Logesh M. I am going to become a Data Scientist.'

**11. Count the occurrences of a word in a string.**

In [ ]:
s5 = """PW Skills - A One Stop Tech Solution where all your skills get sharpened and learn from the best tutors around the world that can easily boost your career"""

s5.count('your')

2

**12. Find the first occurrence of a word in a string.**

In [ ]:
s5.find('your')

47

**13. Find the last occurrence of a word in a string.**

In [ ]:
s5.rfind('your')

143

**14. Split a string into a list of words.**

In [ ]:
l = s5.split(' ')
l

['PW',
 'Skills',
 '-',
 'A',
 'One',
 'Stop',
 'Tech',
 'Solution',
 'where',
 'all',
 'your',
 'skills',
 'get',
 'sharpened',
 'and',
 'learn',
 'from',
 'the',
 'best',
 'tutors',
 'around',
 'the',
 'world',
 'that',
 'can',
 'easily',
 'boost',
 'your',
 'career']

**15. Join a list of words into a string.**

In [ ]:
s5 = ' '.join(l)
s5

'PW Skills - A One Stop Tech Solution where all your skills get sharpened and learn from the best tutors around the world that can easily boost your career'

**16. Convert a string where words are separated by spaces to one where words
are separated by underscore.**

In [ ]:
s6 = s5.replace(' ', '_')
s6

'PW_Skills_-_A_One_Stop_Tech_Solution_where_all_your_skills_get_sharpened_and_learn_from_the_best_tutors_around_the_world_that_can_easily_boost_your_career'

**17. Check if a string starts with a specific word or phrase.**

In [ ]:
s6.startswith('Hi')

False

In [ ]:
s6.startswith('PW_Skills')

True

**18. Check if a string ends with a specific word or phrase.**

In [ ]:
s6.endswith('your')

False

In [ ]:
s6.endswith('career')

True

**19. Convert a string to title case (e.g., "hello world" to "Hello World").**

In [ ]:
s7 = 'python basics'
s7.title()

'Python Basics'

**20. Find the longest word in a string.**

In [ ]:
words = s5.split(' ')
maximum = 0
for word in words:
  if len(word) > maximum and word.isalnum():
    maximum = len(word)
    longest_word = word
print(longest_word)

sharpened

**21. Find the shortest word in a string.**

In [ ]:
words = s5.split(' ')
minimum = 100
for word in words:
  if len(word) < minimum and word.isalnum():
    minimum = len(word)
    shortest_word = word
print(shortest_word)

A

**22. Reverse the order of words in a string.**

In [ ]:
s5

'PW Skills - A One Stop Tech Solution where all your skills get sharpened and learn from the best tutors around the world that can easily boost your career'

In [ ]:
s8 = ' '.join(s5.split(' ')[::-1])
s8

'career your boost easily can that world the around tutors best the from learn and sharpened get skills your all where Solution Tech Stop One A - Skills PW'

**23. Check if a string is alphanumeric.**

In [ ]:
s5.isalnum()

False

**24. Extract all digits from a string.**

In [ ]:
s9 = 'I like number 2 and also I like num 5.'
digits = []
for letter in s9:
  if letter.isdigit():
    digits.append(int(letter))
print(digits)

[2, 5]

**25. Extract all alphabets from a string.**

In [ ]:
alphabets = []
for letter in s9:
  if letter.isalpha():
    alphabets.append(letter)
print(alphabets)

['I', 'l', 'i', 'k', 'e', 'n', 'u', 'm', 'b', 'e', 'r', 'a', 'n', 'd', 'a', 'l', 's', 'o', 'I', 'l', 'i', 'k', 'e', 'n', 'u', 'm']

**26. Count the number of uppercase letters in a string.**

In [ ]:
uppercase_count = 0
for letter in s9:
  if letter.isupper():
    uppercase_count +=1
print(uppercase_count)

2

**27. Count the number of lowercase letters in a string.**

In [ ]:
lowercase_count = 0
for letter in s9:
  if letter.islower():
    lowercase_count +=1
print(lowercase_count)

24

**28. Swap the case of each character in a string.**

In [ ]:
s9.swapcase()

'i LIKE NUMBER 2 AND ALSO i LIKE NUM 5.'

**29. Remove a specific word from a string.**

In [ ]:
s9.replace('num', '')

'I like ber 2 and also I like  5.'

**30. Check if a string is a valid email address.**

In [ ]:
s10 = 'logesh@gmail.com'
if s10.islower() and s10.endswith('.com' or '.in') and '@' in s10:
  print('Valid Email')
else:
  print('Invalid Email')

Valid Email

**31. Extract the username from an email address string.**

In [ ]:
username = s10.split('@')[0]
username

'logesh'

**32. Extract the domain name from an email address string.**

In [ ]:
domain_name = s10.split('@')[1]
domain_name

'gmail.com'

**33. Replace multiple spaces in a string with a single space.**

In [ ]:
s11 = 'Hi I am Logesh I am going    to become a Data scientist.'
words = ' '.join(s11.split())
words

'Hi I am Logesh I am going to become a Data scientist.'

**34. Check if a string is a valid URL.**

In [ ]:
url = 'https://www.youtube.com'
if url.startswith('https' or 'http'):
  if url.endswith('.com' or '.in' or '.org'):
    print('Valid URL')
  else:
    print('Invalid URL')
else:
  print('Invalid URL')

Valid URL

**35. Extract the protocol (http or https) from a URL string.**

In [ ]:
protocol = url.split('://')[0]
protocol

'https'

**36. Find the frequency of each character in a string.**

In [ ]:
s12 = 'Hi I am Logesh. I am going to become a "Data scientist."'
freq = {}
for letter in s12:
  if letter.isalpha():
    if letter.lower() in freq:
      freq[letter.lower()] += 1
    else:
      freq[letter.lower()] = 1
print(freq)

{'h': 2, 'i': 6, 'a': 5, 'm': 3, 'l': 1, 'o': 4, 'g': 3, 'e': 4, 's': 3, 'n': 2, 't': 4, 'b': 1, 'c': 2, 'd': 1}

**37. Remove all punctuation from a string.**

In [ ]:
punctuation_symbols = ['.', ',', ':', ';', "'", '"', '–', '—', '()', '/', '!', '?', '…']
for letter in s12:
  if letter in punctuation_symbols:
    s12 = s12.replace(letter,'')
print(s12)

Hi I am Logesh I am going to become a Data scientist

**38. Check if a string contains only digits.**

In [ ]:
s13 = '2134365475'
for letter in s13:
  if not letter.isdigit():
    print('string contains non-digit')
    break
else:
  print('string contains only digits')

string contains only digits

**39. Check if a string contains only alphabets.**

In [ ]:
s13 = 'hisdk'
for letter in s13:
  if not letter.isalpha():
    print('string contains non-alphabets')
    break
else:
  print('string contains only alphabets')

string contains only alphabets

**40. Convert a string to a list of characters.**

In [ ]:
list(s11)

['H',
 'i',
 ' ',
 'I',
 ' ',
 'a',
 'm',
 ' ',
 'L',
 'o',
 'g',
 'e',
 's',
 'h',
 ' ',
 'I',
 ' ',
 'a',
 'm',
 ' ',
 'g',
 'o',
 'i',
 'n',
 'g',
 ' ',
 ' ',
 ' ',
 ' ',
 't',
 'o',
 ' ',
 'b',
 'e',
 'c',
 'o',
 'm',
 'e',
 ' ',
 'a',
 ' ',
 'D',
 'a',
 't',
 'a',
 ' ',
 's',
 'c',
 'i',
 'e',
 'n',
 't',
 'i',
 's',
 't',
 '.']

**41. Check if two strings are anagrams.**

In [ ]:
s14 = 'silent'
s15 = 'listen'

if len(s14) == len(s15):
  if sorted(s14) == sorted(s15):
    print('Anagrams')
  else:
    print('Not Anagrams')
else:
  print('Not Anagrams')

Anagrams

**42. Encode a string using a Caesar cipher.**

In [ ]:
s16 = 'logesh 27'
shift = 5
encrypted = ''
for letter in s16:
  if letter.isdigit():
    encrypted_letter = str((int(letter) + shift)%9)
    encrypted += encrypted_letter
  elif letter == ' ':
    encrypted += ' '
  else:
    shift_base = 65 if letter.isupper() else 97
    encrypted_letter = chr((ord(letter) - shift_base + shift) % 26 + shift_base)
    encrypted += encrypted_letter
print(encrypted)

qtljxm 73

**43. Decode a Caesar cipher encoded string.**

In [ ]:
decrypted = ''
for letter in encrypted:
  if letter.isdigit():
    decrypted_letter = str((int(letter) - shift)%9)
    decrypted += decrypted_letter
  elif letter == ' ':
    decrypted += ' '
  else:
    shift_base = 65 if letter.isupper() else 97
    decrypted_letter = chr((ord(letter) - shift_base - shift) % 26 + shift_base)
    decrypted += decrypted_letter
print(decrypted)

logesh 27

**44. Find the most frequent word in a string.**

In [ ]:
s17 = """PW Skills - A One Stop Tech Solution where all your skills get sharpened and learn from the best tutors around the world that can easily boost your career"""

word_counts = {}
words = s17.lower().split()

for word in words:
  if word in word_counts:
    word_counts[word] += 1
  else:
    word_counts[word] = 1

most_frequent_word = None
max_count = 0

for word, count in word_counts.items():
  if count > max_count:
    max_count = count
    most_frequent_word = word

print(f"The most frequent word is '{most_frequent_word}' with a count of {max_count}.")

The most frequent word is 'skills' with a count of 2.

**45. Find all unique words in a string.**

In [ ]:
word_counts = {}
words = s17.lower().split()

for word in words:
  if word in word_counts:
    word_counts[word] += 1
  else:
    word_counts[word] = 1

most_frequent_word = None
min_count = len(words)

for word, count in word_counts.items():
  if count < min_count:
    min_count = count
    unique_word = word

print(f"The unique word is '{unique_word}' with a count of {min_count}.")

The unique word is 'pw' with a count of 1.

**46. Count the number of syllables in a string.**

In [ ]:
import re

def count_syllables(word):
  """Counts the number of syllables in a word using a basic vowel-based approach."""
  word = word.lower()
  vowel_groups = re.findall(r'[aeiouy]+', word)
  return vowel_groups

In [ ]:
word = "hello"
syllable_count = count_syllables(word)
print(f"The word '{word}' has {syllable_count} syllables.")

The word 'hello' has ['e', 'o'] syllables.

In [ ]:
word = "programming"
syllable_count = count_syllables(word)
print(f"The word '{word}' has {syllable_count} syllables.")

The word 'programming' has ['o', 'a', 'i'] syllables.

**47. Check if a string contains any special characters.**

In [ ]:
s18 = 'I am logesh rerge@324*2454%3'

if s18.replace(' ', '').isalnum():
  print('No special characters')
else:
  print('Contains special characters')

Contains special characters

**48. Remove the nth word from a string.**

In [ ]:
string_list = list(s18)
n = 3
string_list.pop(n-1)

'a'

In [ ]:
s19 = ''.join(string_list)
s19

'I m logesh rerge@324*2454%3'

**49. Insert a word at the nth position in a string.**

In [ ]:
s20 = 'I am Logesh'
word = ' M'
pos = 12

list_words = list(s20)
list_words.insert(pos,word)
s20 = ''.join(list_words)
s20

'I am Logesh M'

**50. Convert a CSV string to a list of lists.**

In [ ]:
csv_data = """Name,Age,City
Alice,25,New York
Bob,30,Los Angeles
Charlie,28,Chicago"""

rows = []
for line in csv_data.strip().split('\n'):
  row = line.split(',')
  rows.append(row)
print(rows)

[['Name', 'Age', 'City'], ['Alice', '25', 'New York'], ['Bob', '30', 'Los Angeles'], ['Charlie', '28', 'Chicago']]

# **List Based Practice Problem**

**1. Create a list with integers from 1 to 10.**

In [ ]:
l1 = list(range(1,11))
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**2. Find the length of a list without using the `len()` function.**

In [ ]:
length = 0
for i in l1:
  length += 1
print(length)

10

**3. Append an element to the end of a list.**

In [ ]:
l1.append(11)
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

**4. Insert an element at a specific index in a list.**

In [ ]:
l1.insert(0,0)
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

**5. Remove an element from a list by its value.**

In [ ]:
l1.remove(7)
l1

[0, 1, 2, 3, 4, 5, 6, 8, 9, 10, 11]

**6. Remove an element from a list by its index.**

In [ ]:
l1.pop(4)
l1

[0, 1, 2, 3, 5, 6, 8, 9, 10, 11]

**7. Check if an element exists in a list.**

In [ ]:
element = 5
if element in l1:
  print('Element exists')
else:
  print('Element does not exist')

Element exists

**8. Find the index of the first occurrence of an element in a list.**

In [ ]:
l2 = [1,4,5,6,2,4,5,6,9,8,4,5]
l2.index(4)

1

**9. Count the occurrences of an element in a list.**

In [ ]:
l2.count(6)

2

**10. Reverse the order of elements in a list.**

In [ ]:
l2.reverse()
l2

[5, 4, 8, 9, 6, 5, 4, 2, 6, 5, 4, 1]

**11. Sort a list in ascending order.**

In [ ]:
l2.sort()
l2

[1, 2, 4, 4, 4, 5, 5, 5, 6, 6, 8, 9]

**12. Sort a list in descending order.**

In [ ]:
l2.sort(reverse=True)
l2

[9, 8, 6, 6, 5, 5, 5, 4, 4, 4, 2, 1]

**13. Create a list of even numbers from 1 to 20.**

In [ ]:
l3 = list(range(0,21,2))
l3

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

**14. Create a list of odd numbers from 1 to 20.**

In [ ]:
l4 = list(range(1,20,2))
l4

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

**15. Find the sum of all elements in a list.**

In [ ]:
Sum = sum(l4)
Sum

100

**16. Find the maximum value in a list.**

In [ ]:
maximum = max(l4)
maximum

19

**17. Find the minimum value in a list.**

In [ ]:
minimum = min(l4)
minimum

1

**18. Create a list of squares of numbers from 1 to 10.**

In [ ]:
l5 = []
for i in range(1,11):
  l5.append(i**2)
print(l5)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**19. Create a list of random numbers.**

In [ ]:
l5 = []
import random
for i in range(10):
  l5.append(random.randint(1,100))
print(l5)

[90, 17, 27, 57, 93, 90, 21, 90, 71, 17]

**20. Remove duplicates from a list.**

In [ ]:
l6 = [2,3,4,2,21,43,32,3,2,44,43]
l6 = list(set(l6))
l6

[32, 2, 3, 4, 43, 44, 21]

**21. Find the common elements between two lists.**

In [ ]:
l7 = [1, 2, 3, 4, 5]
l8 = [3, 5, 6, 7, 8]

common_elements = []
for element in l7:
  if element in l8:
    common_elements.append(element)

print(common_elements)

[3, 5]

**22. Find the difference between two lists.**

In [ ]:
difference = []
for element in l7:
  if element not in l8:
    difference.append(element)
for element in l8:
  if element not in l7:
    difference.append(element)
print(difference)

[1, 2, 4, 6, 7, 8]

**23. Merge two lists.**

In [ ]:
l7.extend(l8)
l7

[1, 2, 3, 4, 5, 3, 5, 6, 7, 8]

**24. Multiply all elements in a list by 2.**

In [ ]:
l9 = [1, 2, 3, 4, 5]
multiplied_list = [x * 2 for x in l9]
print(multiplied_list)

[2, 4, 6, 8, 10]

**25. Filter out all even numbers from a list.**

In [ ]:
odd_numbers = [x for x in l9 if x%2 != 0]
odd_numbers

[1, 3, 5]

**26. Convert a list of strings to a list of integers.**

In [ ]:
l10 = ['1', '2', '3', '4', '5']
int_list = [int(x) for x in l10]
int_list

[1, 2, 3, 4, 5]

**27. Convert a list of integers to a list of strings.**

In [ ]:
l10 = [1, 2, 3, 4, 5]
int_list = [str(x) for x in l10]
int_list

['1', '2', '3', '4', '5']

**28. Flatten a nested list.**

In [ ]:
def flatten_list(nested_list):
  flat_list = []
  for item in nested_list:
    if isinstance(item, list):
      flat_list.extend(flatten_list(item))
    else:
      flat_list.append(item)
  return flat_list
l11 = [1,2,3, [4, 5, 6], [7, 8, 9], [10, 11, 12]]
print(flatten_list(l11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

**29. Create a list of the first 10 Fibonacci numbers.**

In [ ]:
fib_numbers = []

for i in range(10):
  if i== 0:
    fib_numbers.append(1)
  elif i == 1:
    fib_numbers.append(1)
  else:
    fib_numbers.append(fib_numbers[i-1] + fib_numbers[i-2])
print(fib_numbers)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

**30. Check if a list is sorted.**

In [ ]:
l11 = [1, 2, 4, 3, 5, 7, 9, 6, 8]
for index in range(1, len(l11)):
  num = l11[index]
  if num < l11[index-1]:
    print('list is not sorted')
    break
else:
  print('list is sorted')

list is not sorted

**31. Rotate a list to the left by `n` positions.**

In [ ]:
n = 4
l12 = [1,2,3,4,5,6,7,8,9,10]
rotated_list = l12[n:] + l12[:n]
rotated_list

[5, 6, 7, 8, 9, 10, 1, 2, 3, 4]

**32. Rotate a list to the right by `n` positions.**

In [ ]:
n = 4
rotated_list2 = l12[-n:] + l12[:-n]
rotated_list2

[7, 8, 9, 10, 1, 2, 3, 4, 5, 6]

**33. Create a list of prime numbers up to 50.**

In [ ]:
prime = []
for i in range(2,51):
  is_prime = True
  for j in range(2,int(i*0.5)+1):
    if i%j == 0:
      is_prime = False
      break
  if is_prime:
    prime.append(i)
print(prime)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

**34. Split a list into chunks of size `n`.**

In [ ]:
l13 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
n = 4
Chunks = [l13[i:i+n] for i in range(0, len(l13), n)]
Chunks

[[1, 2, 3, 4],
 [5, 6, 7, 8],
 [9, 10, 11, 12],
 [13, 14, 15, 16],
 [17, 18, 19, 20]]

**35. Find the second largest number in a list.**

In [ ]:
l14 = [1, 2, 4, 3, 7, 26, 23, 47, 25, 47, 58, 59]
l14.sort(reverse = True)
l14[1]

58

**36. Replace every element in a list with its square.**

In [ ]:
l15 = [1, 2, 3, 5, 4, 8, 7, 6, 9, 15, 10, 11, 13, 12]
l15 = [i**2 for i in l15]
l15

[1, 4, 9, 25, 16, 64, 49, 36, 81, 225, 100, 121, 169, 144]

**37. Convert a list to a dictionary where list elements become keys and their
indices become values.**

In [ ]:
dictionary = {}
for index, value in enumerate(l15):
  dictionary[value] = index
dictionary

{1: 0,
 4: 1,
 9: 2,
 25: 3,
 16: 4,
 64: 5,
 49: 6,
 36: 7,
 81: 8,
 225: 9,
 100: 10,
 121: 11,
 169: 12,
 144: 13}

**38. Shuffle the elements of a list randomly.**

In [ ]:
import random

l16 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(l16)
print(l16)

[5, 7, 2, 4, 8, 3, 1, 9, 10, 6]

**39. Create a list of the first 10 factorial numbers.**

In [ ]:
factorial_list = []
for i in range(1,11):
  for j in range(1,i+1):
    if j == 1:
      factorial = 1
    else:
      factorial *= j
  factorial_list.append(factorial)
print(factorial_list)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

**40. Check if two lists have at least one element in common.**

In [ ]:
l17 = [1,2,6,8,9,3,5,4,10]
for i in l15:
  if i in l17:
    print('Lists have at least one element in common')
    break
else:
  print('Lists have no element in common')

Lists have at least one element in common

**41. Remove all elements from a list.**

In [ ]:
l17.clear()

In [ ]:
l17

[]

**42. Replace negative numbers in a list with 0.**

In [ ]:
l18 = [1,-2,-5,-6,3,6,8]
pos_list = [i if i>0 else 0 for i in l18]
pos_list

[1, 0, 0, 0, 3, 6, 8]

**43. Convert a string into a list of words.**

In [ ]:
str_1 = 'I am Logesh'
l19 = str_1.split()
l19

['I', 'am', 'Logesh']

**44. Convert a list of words into a string.**

In [ ]:
str_2 = ' '.join(l19)
str_2

'I am Logesh'

**45. Create a list of the first `n` powers of 2.**

In [ ]:
n = 7
l20 = []
for i in range(1,n+1):
  l20.append(2**i)
print(l20)

[2, 4, 8, 16, 32, 64, 128]

**46. Find the longest string in a list of strings.**

In [ ]:
lstr = ['Logesh', 'India', 'Data Scientist', 'Machine Learning']
long_str = ''
for i in lstr:
  if len(i) > len(long_str):
    long_str = i
print(long_str)

Machine Learning

**47. Find the shortest string in a list of strings.**

In [ ]:
lstr = ['Logesh', 'India', 'Data Scientist', 'Machine Learning']
short_str = lstr[1]
for word in lstr:
  if len(word) < len(short_str):
    short_str = word
print(short_str)

India

**48. Create a list of the first `n` triangular numbers.**

In [ ]:
n = 12
triangular_num = []
for i in range(1, n+1):
  triangular_num.append(i*(i+1)//2)
triangular_num

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78]

**49. Check if a list contains another list as a subsequence.**

In [ ]:
main_list = [1,2,3,4,5,6,7,8,9,10]
sub_list = [3,4,5]
i, j = 0,0
while i< len(main_list) and j < len(sub_list):
  if main_list[i] == sub_list[j]:
    j+=1
  i+=1
if j == len(sub_list):
  print('Sublist is a subsequence')
else:
  print('Sublist is not a subsequence')

Sublist is a subsequence

**50. Swap two elements in a list by their indices.**

In [ ]:
swap_index = [1, 3]
l21 = [1,2,3,4,5,6,7]
l21[swap_index[0]],l21[swap_index[1]] = l21[swap_index[1]],l21[swap_index[0]]
l21

[1, 4, 3, 2, 5, 6, 7]

# Tuple Based Practice Problem

**1. Create a tuple with integers from 1 to 5.**

In [ ]:
t1 = tuple(range(1,6))
t1

(1, 2, 3, 4, 5)

**2. Access the third element of a tuple.**

In [ ]:
t1[3]

4

**3. Find the length of a tuple without using the `len()` function.**

In [ ]:
length = t1.index(t1[-1]) + 1
length

5

**4. Count the occurrences of an element in a tuple.**

In [ ]:
t1.count(3)

1

**5. Find the index of the first occurrence of an element in a tuple.**

In [ ]:
t1.index(4)

3

**6. Check if an element exists in a tuple.**

In [ ]:
if 7 in t1:
  print("Element exists")
else:
  print("Element does not exist")

Element does not exist

**7. Convert a tuple to a list.**

In [ ]:
l22 = list(t1)
l22

[1, 2, 3, 4, 5]

**8. Convert a list to a tuple.**

In [ ]:
t2 = tuple(l22)
t2

(1, 2, 3, 4, 5)

**9. Unpack the elements of a tuple into variables.**

In [ ]:
a, b, c, d, e = t2
print(f"a = {a}, b = {b}, c = {c}, d = {d}, e = {e}")

a = 1, b = 2, c = 3, d = 4, e = 5

**10. Create a tuple of even numbers from 1 to 10.**

In [ ]:
t3 = tuple(range(2, 11, 2))
t3

(2, 4, 6, 8, 10)

**11. Create a tuple of odd numbers from 1 to 10.**

In [ ]:
t4 = tuple(range(1, 11, 2))
t4

(1, 3, 5, 7, 9)

**12. Concatenate two tuples.**

In [ ]:
t5 = t3 + t4
t5

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

**13. Repeat a tuple three times.**

In [ ]:
t6 = t3*3
t6

(2, 4, 6, 8, 10, 2, 4, 6, 8, 10, 2, 4, 6, 8, 10)

**14. Check if a tuple is empty.**

In [ ]:
if len(t6) == 0:
  print('Tuple is empty')
else:
  print('Tuple is not empty')

Tuple is not empty

**15. Create a nested tuple.**

In [ ]:
t7 = (t4,t5)
t7

((1, 3, 5, 7, 9), (2, 4, 6, 8, 10, 1, 3, 5, 7, 9))

**16. Access the first element of a nested tuple.**

In [ ]:
t7[0][0]

1

**17. Create a tuple with a single element.**

In [ ]:
t8 = (4,)
t8

(4,)

**18. Compare two tuples.**

In [ ]:
# prompt: 18. Compare two tuples.

t9 = (1, 3, 3)
t10 = (1, 2, 4)

if t9 < t10:
  print("t9 is less than t10")
elif t9 > t10:
  print("t9 is greater than t10")
else:
  print("t9 is equal to t10")

t9 is greater than t10

**19. Delete a tuple.**

In [ ]:
del t9

**20. Slice a tuple.**

In [ ]:
t4[2:5]

(5, 7, 9)

**21. Find the maximum value in a tuple.**

In [ ]:
max(t4)

9

**21. Find the mkinimum value in a tuple.**

In [ ]:
min(t4)

1

**23. Convert a string to a tuple of characters.**

In [ ]:
str_1 = 'Hi I am Logesh'
t11 = tuple(str_1.replace(' ', ''))
t11

('H', 'i', 'I', 'a', 'm', 'L', 'o', 'g', 'e', 's', 'h')

**24. Convert a tuple of characters to a string.**

In [ ]:
str_2 = ''.join(t11)
str_2

'HiIamLogesh'

**25. Create a tuple from multiple data types.**

In [ ]:
t12 = (1, 'hello', 3.14, True)
t12

(1, 'hello', 3.14, True)

**26. Check if two tuples are identical.**

In [ ]:
t13 = (1, 2, 3)
t14 = (1, 2, 3)

if t13 == t14:
  print("The tuples are identical.")
else:
  print("The tuples are not identical.")

The tuples are identical.

**27. Sort the elements of a tuple.**

In [ ]:
t15 = (4, 7, 3, 6, 9, 1, 2, 5)
t15 = tuple(sorted(t15))
t15

(1, 2, 3, 4, 5, 6, 7, 9)

**28. Convert a tuple of integers to a tuple of strings.**

In [ ]:
t16 = tuple(str(i) for i in t15)
t16

('1', '2', '3', '4', '5', '6', '7', '9')

In [ ]:
t17 = tuple([int(i) for i in t16])
t17

(1, 2, 3, 4, 5, 6, 7, 9)

**30. Merge two tuples.**

In [ ]:
t18 = t14+t16
t18

(1, 2, 3, '1', '2', '3', '4', '5', '6', '7', '9')

**31. Flatten a nested tuple.**

In [ ]:
t19 = (1, 2, 3, (1, 2, 3, 4), (4, 5, 6, 7))
t20 = tuple(i for j in t19 for i in (j if isinstance(j, tuple) else (j,)))
print(t20)

(1, 2, 3, 1, 2, 3, 4, 4, 5, 6, 7)

**32. Create a tuple of the first 5 prime numbers.**

In [ ]:
l_1 = []
for i in range(2,6):
  is_prime = True
  for j in range(2, int(i/2)+1):
    if i%j == 0:
      is_prime = False
      break
  if is_prime:
    l_1.append(i)
prime_tuple = tuple(l_1)
prime_tuple

(2, 3, 5)

**33. Check if a tuple is a palindrome.**

In [ ]:
t21 = (1, 2, 3, 2, 1)
if t21 == t21[::-1]:
  print('Tuple is a palindrome')
else:
  print('Tuple is not a palindrome')

Tuple is a palindrome

**34. Create a tuple of squares of numbers from 1 to 5.**

In [ ]:
t22 = tuple(i**2 for i in range(1,6))
t22

(1, 4, 9, 16, 25)

**35. Filter out all even numbers from a tuple.**

In [ ]:
t23 = tuple(i for i in t22 if i%2 ==0)
t23

(4, 16)

**36. Multiply all elements in a tuple by 2.**

In [ ]:
t24 = tuple(i*2 for i in t22)
t22

(1, 4, 9, 16, 25)

**37. Create a tuple of random numbers.**

In [ ]:
import random

t25 = tuple(random.randint(1,100) for i in range(1,6))
t25

(90, 76, 39, 9, 63)

**38. Check if a tuple is sorted.**

In [ ]:
  for i in range(1, len(t25)):
    if t25[i] < t25[i-1]:
      print('Tuple is not sorted')
      break
  else:
    print('Tuple is sorted')

Tuple is not sorted

**39. Rotate a tuple to the left by `n` positions.**

In [ ]:
t26 = (1,2,3,4,5,6,7,8,9,10)
n = 3
t27 = t26[n:] + t26[:n]
t27

(4, 5, 6, 7, 8, 9, 10, 1, 2, 3)

**40. Rotate a tuple to the right by `n` positions.**

In [ ]:
t28 = t26[-n:] + t26[:-n]
t28

(8, 9, 10, 1, 2, 3, 4, 5, 6, 7)

**41. Create a tuple of the first 5 Fibonacci numbers.**

In [ ]:
fib_numbers = []
for i in range(5):
  if i == 0:
    fib_numbers.append(0)
  elif i == 1:
    fib_numbers.append(1)
  else:
    fib_numbers.append(fib_numbers[i - 1] + fib_numbers[i - 2])
fib_tuple = tuple(fib_numbers)
print(fib_tuple)

(0, 1, 1, 2, 3)

**42. Create a tuple from user input.**

In [ ]:
t29 = tuple(input())
t29

1234567

('1', '2', '3', '4', '5', '6', '7')

**43. Swap two elements in a tuple.**

In [ ]:
t30 = (1, 2, 3, 4, 5)
index1 = 1
index2 = 3
list_t30 = list(t30)
list_t30[index1], list_t30[index2] = list_t30[index2], list_t30[index1]
t30 = tuple(list_t30)
print(t30)

(1, 4, 3, 2, 5)

**44. Reverse the elements of a tuple.**

In [ ]:
t30[::-1]

(5, 2, 3, 4, 1)

**45. Create a tuple of the first `n` powers of 2.**

In [ ]:
n = 5
t31 = tuple(2**i for i in range(1, n+1))
t31

(2, 4, 8, 16, 32)

**46. Find the longest string in a tuple of strings.**

In [ ]:
t32 = ('Logesh', 'Data scientist', 'Love', 'Hope', 'Life coach')
long_str = ''
for word in t32:
  if len(word) > len(long_str):
    long_str = word
print(long_str)

Data scientist

**47. Find the shortest string in a tuple of strings.**

In [ ]:
t32 = ('Logesh', 'Data scientist', 'Love', 'Hope', 'Life coach')
short_str = t32[1]
for word in t32:
  if len(word) < len(short_str):
    short_str = word
print(short_str)

Love

**48. Create a tuple of the first `n` triangular numbers.**

In [ ]:
n = 10
triangular_num = tuple( i*(i+1)//2 for i in range(1,n+1))
triangular_num

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

**49. Check if a tuple contains another tuple as a subsequence.**

In [ ]:
t33 = (1,2,3,4 ,5,6,7,8,9)
t34 = (4,5,6)
i, j = 0, 0
while i < len(t33) and j < len(t34):
  if t33[i] == t34[j]:
    j += 1
  i += 1
  print(j)
if j == len(t34):
  print('t34 is a subsequence of t33')
else:
  print('t34 is not a subsequence of t33')

0
0
0
1
2
3
t34 is a subsequence of t33

**50. Create a tuple of alternating 1s and 0s of length `n`.**

In [ ]:
n = 4
t35 = tuple([1 if e % 2 == 0 else 0 for e in range(n)])
t35

(1, 0, 1, 0)

#Set Based Practice Problem

**1. Create a set with integers from 1 to 5.**

In [ ]:
s1 = set(range(1,6))
s1

{1, 2, 3, 4, 5}

**2. Add an element to a set.**

In [ ]:
s1.update({6})
s1

{1, 2, 3, 4, 5, 6}

**3. Remove an element from a set.**

In [ ]:
s1.remove(6)
s1

{1, 2, 3, 4, 5}

**4. Check if an element exists in a set.**

In [ ]:
if 3 in s1:
  print('Element exists')
else:
  print('Element does not exist')

Element exists

**5. Find the length of a set without using the `len()` function.**

In [ ]:
length = 0
for i in s1:
  length +=1
length

5

**6. Clear all elements from a set.**

In [ ]:
s1.clear()

In [ ]:
s1

set()

**7. Create a set of even numbers from 1 to 10.**

In [ ]:
s2 = set(range(2,11,2))
s2

{2, 4, 6, 8, 10}

**8. Create a set of odd numbers from 1 to 10.**

In [ ]:
s3 = set(range(1,10,2))
s2

{2, 4, 6, 8, 10}

**9. Find the union of two sets.**

In [ ]:
s4 = s2.union(s3)
s4

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

**10. Find the intersection of two sets.**

In [ ]:
s5 = s2.intersection(s4)
s5

{2, 4, 6, 8, 10}

**11. Find the difference between two sets.**

In [ ]:
s6 = s4.difference(s3)
s6

{2, 4, 6, 8, 10}

**12. Check if a set is a subset of another set.**

In [ ]:
s6.issubset(s4)

True

**13. Check if a set is a superset of another set.**

In [ ]:
s4.issuperset(s6)

True

**14. Create a set from a list.**

In [ ]:
l1 = [1, 2, 3, 4, 5]
s7 = set(l1)
s7

{1, 2, 3, 4, 5}

**15. Convert a set to a list.**

In [ ]:
s7 = list(s7)
s7

[1, 2, 3, 4, 5]

**16. Remove a random element from a set.**

In [ ]:
import random
remove = random.randint(0,len(s8)-1)
s8 = {1,2,3,4,5,7,9,6}
s8.remove(list(s8)[remove])
s8

{1, 3, 4, 5, 6, 7, 9}

**17. Pop an element from a set.**

In [ ]:
s8.pop()

1

**18. Check if two sets have no elements in common.**

In [ ]:
s9 = {1,2,3,4,5,6,7}
s10 = {8,9,10,11,12}
s9.isdisjoint(s10)

True

**19. Find the symmetric difference between two sets.**

In [ ]:
s9 = {1, 2, 3, 4, 5}
s10 = {4, 5, 6, 7, 8}

symmetric_difference = s9 ^ s10
symmetric_difference

{1, 2, 3, 6, 7, 8}

**20. Update a set with elements from another set.**

In [ ]:
s11 = {1, 2, 3, 4, 5}
s12 = {4, 5, 6, 7, 8}

s11.update(s12)
s11

{1, 2, 3, 4, 5, 6, 7, 8}

**21. Create a set of the first 5 prime numbers.**

In [ ]:
prime_set ={i for i in range(2,12) if all(i%j != 0 for j in range(2, int(i*0.5)+1))}
prime_set

{2, 3, 5, 7, 11}

**22. Check if two sets are identical.**

In [ ]:
s11 = {1,3,5,7,9}
s12 = {1,3,5,7,9}
if s11 == s12:
  print('Sets are identical')
else:
  print('Sets are not identical')

Sets are identical

**23. Create a frozen set.**

In [ ]:
s12 = frozenset(s11)
s12

frozenset({1, 3, 5, 7, 9})

**24. Check if a set is disjoint with another set.**

In [ ]:
s11.isdisjoint(s5)

True

**25. Create a set of squares of numbers from 1 to 5.**

In [ ]:
s13 = {i**2 for i in range(1,6)}
s13

{1, 4, 9, 16, 25}

**28. Create a set of random numbers.**

In [ ]:
import random
s14 = {random.randint(1,100) for i in range(random.randint(1,7))}
s14

{14, 25, 37, 40, 98}

**29. Check if a set is empty.**

In [ ]:
s15 = set()
if len(s15) == 0:
  print('Set is empty')
else:
  print('Set is not empty')

Set is empty

**30. Create a nested set (hint: use frozenset).**

In [ ]:
nested_set = {frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({7, 8, 9})}
nested_set

{frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({7, 8, 9})}

**31. Remove an element from a set using the discard method.**

In [ ]:
s16 = {1,2,3,4,5}
s16.discard(3)
s16

{1, 2, 4, 5}

**32. Compare two sets.**

In [ ]:
s17 = {1,2,3,4,5}
s18 = {3,4,5,6,7}
print(s17.intersection(s18))
print(s17.difference(s18))

{3, 4, 5}
{1, 2}

**33. Create a set from a string.**

In [ ]:
str1 = 'Logesh'
s19 = set(str1)
s19

{'L', 'e', 'g', 'h', 'o', 's'}

**34. Convert a set of strings to a set of integers.**

In [ ]:
str2 = {'1', '2', '3', '4', '5'}
s20 = {int(i) for i in str2}
s20

{1, 2, 3, 4, 5}

**35. Convert a set of integers to a set of strings.**

In [ ]:
str3 = {str(i) for i in s20}
str3

{'1', '2', '3', '4', '5'}

**36. Create a set from a tuple.**

In [ ]:
t = tuple(range(1,6))
s21 = set(t)
s21

{1, 2, 3, 4, 5}

**37. Convert a set to a tuple.**

In [ ]:
t4 = tuple(s21)
t4

(1, 2, 3, 4, 5)

**38. Find the maximum value in a set.**

In [ ]:
maximum = max(s17)
maximum

5

**39. Find the minimum value in a set.**

In [ ]:
minimum  = min(s17)
minimum

1

**40. Create a set from user input.**

In [3]:
user_input = input()
s22 = set(user_input.split())
s22

23 34 56 78

{'23', '34', '56', '78'}

**41. Check if the intersection of two sets is empty.**

In [27]:
s23 = {23, 45, 67, 25, 56}
s24 = {1, 2, 3, 4, 5}
print('Intersection is not empty') if s23.intersection(s24) else print('Intersection is empty')

Intersection is empty

**42. Create a set of the first 5 Fibonacci numbers.**

In [21]:
l23 = []
while len(set(l23)) != 5:
  if len(l23) < 3:
    l23.append(1)
  else:
    l23.append(l23[len(l23)-1] + l23[len(l23)-2])
s25 = set(l23)
s25

{1, 2, 3, 5, 8}

**43. Remove duplicates from a list using sets.**

In [22]:
l26 = [1, 3, 4, 5, 2, 3, 5, 4, 3]
l27 = list(set(l26))
l27

[1, 2, 3, 4, 5]

**44. Check if two sets have the same elements, regardless of their count.**

In [34]:
s27 = {1, 2, 3, 4, 5}
s28 = {1, 2, 3, 4, 5, 5, 5}

print("The sets have the same elements.") if set(s27) == set(s28) else print("The sets do not have the same elements.")

The sets have the same elements.

**45. Create a set of the first `n` powers of 2.**

In [28]:
n = 6
s29 = set([2**i for i in range(1,n+1)])
s29

{2, 4, 8, 16, 32, 64}

**46. Find the common elements between a set and a list.**

In [35]:
l30 = [1,2,3,4,5,6,7,8,9]
s29.intersection(set(l30))

{2, 4, 8}

**47. Create a set of the first `n` triangular numbers.**

In [31]:
n = 10
triangular_num = set([i*(i+1)//2 for i in range(1,n+1)])
triangular_num

{1, 3, 6, 10, 15, 21, 28, 36, 45, 55}

**48. Check if a set contains another set as a subset.**

In [36]:
s29.issubset(s28)

False

**49. Create a set of alternating 1s and 0s of length `n`.**

In [38]:
n = 10
s31 = set([1 if i % 2 == 0 else 0 for i in range(n)])
s31

{0, 1}

**50. Merge multiple sets into one.**

In [39]:
s32 = {1, 2, 3}
s33 = {4, 5, 6}
s34 = {7, 8, 9}
s35 = s32.union(s33,s34)
s35

{1, 2, 3, 4, 5, 6, 7, 8, 9}